.order-details {
  &__promotion-code{
    height: 2.8rem;
    background: #F2F2F2;
    border-radius: 5px;
  }
  
  @media screen and (max-device-width: 769px) {
    &__promotion{
      width: 100% !important;
    }
  }

  &__apply-code{
    height: 2.8rem;
    @media screen and (max-device-width: 769px) {
      font-size: 14px !important;
    }
  }

  &__item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    min-width: 110px;
    @media screen and (max-device-width: 769px) {
      font-size: 16px !important;
      min-width: 50px;
      padding-right: 0px !important;
    }
  }

  &__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    @media screen and (max-device-width: 769px) {
      font-size: 18px !important;
    }
  }

  &__item-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    @media screen and (max-device-width: 769px) {
      font-size: 18px !important;
    }
  }

  &__item-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    @media screen and (max-device-width: 769px) {
      font-size: 18px !important;
    }
  }

  &__total{
    font-weight: 700;
  }

  &__button{
    background: #229BE8;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  &__place-order{
    width: 100%;
    height: 3.75rem;
  }

  &__accept-Terms{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    @media screen and (max-device-width: 769px) {
      font-size: 16px ;
    }
  }
}

.billing-detail {
  &__input {
    background: #F2F2F2;
    border-radius: 5px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @media screen and (max-device-width: 769px) {
      font-size: 18px !important;
    }
  }
  &__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    @media screen and (max-device-width: 769px) {
      font-size: 18px !important;
    }
  }
}

:where(.css-dev-only-do-not-override-htwhyh).ant-picker {
  background: #F2F2F2;
  border-radius: 5px;
  width: 100%;
  height: 43px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-input-number {
  border-radius: 5px;
  width: 100%;
  height: 43px;
  padding-top: 5px;
}

.gray-1-color{
  color: #333333;
}

.gray-3-color{
  color: #828282;
}

.border-right {
  border-right: 1px solid #EAEDF8;
}

.check-out {
  &__triangle-icon {
    position: absolute;
    top: 9.2rem;
    left: 84%;
    z-index: 1;
    width: 114px;
    height:auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__dot-icon {
    position: absolute;
    width: 9.6rem;
    height: auto;
    top: 1rem;
    left: 40%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__circle-icon {
    position: absolute;
    top: 18rem;
    left: -3rem;
    width: 6.4rem;
    height: auto;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__triangle-icon-2 {
    position: absolute;
    margin-top: -3rem;
    left: 1.5rem;
    z-index: 1;
    width: 114px;
    height:auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__dot-icon-2 {
    position: absolute;
    width: 9.6rem;
    height: auto;
    left: 49%;
    margin-top: -12rem;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__dot-icon-3 {
    position: absolute;
    width: 9rem;
    height: auto;
    left: 93%;
    margin-top: -26rem;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__circle-icon-2 {
    position: absolute;
    left: 84%;
    margin-top: -5rem;
    width: 6.4rem;
    height: auto;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}