.home-background {
  background-color: rgba(34, 155, 232, 0.2);
 }

.shopping-cart-item {
  padding-left: 5,25rem;
  padding-right: 1,875rem;

  &__title-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140.62%;
    color: #000000;
  }

  &__item-price {
    font-weight: 700;
    padding-top: 5rem;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #133788;
    margin-bottom: 15px;
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 135.94%;
    color: #313131;
   }

  &__content {
    color: #828282;
    line-height: 19px
   }
 }

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.professional-border-bottom {
  border-bottom: 1px solid #F2F2F2;
}

.background-grey {
  background: #F2F2F2;
}

.shopping-total {
  &__title{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-top: 10px;
   }

  &__promotion-code {
    background: #F2F2F2 !important;
    height: 44px;
    border-radius: 5px;
    max-width: 300px;
   }

  &__apply-code {
    height: 44px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #229BE8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
   }

  &____check-out {
    width: 13rem;
    height: 3rem;
    line-height: 30px !important;
   }
}


